/* 
Theme Name:		 lambda-child
Theme URI:		 http://childtheme-generator.com/
Description:	 lambda-child is a child theme of Lambda, created by ChildTheme-Generator.com
Author:			 Mosh H.
Author URI:		 http://childtheme-generator.com/
Template:		 lambda
Version:		 1.0.0
Text Domain:	 lambda-child
*/


/*
    Add your custom styles here
*/